:root {
    --primary: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 103, 1) 100%, rgba(0, 212, 255, 1) 100%);
    --text: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.landing-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    height: 100vh;
}

.landing-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.landing-heading {
    color: var(--text);
    text-align: center;
}

.large-btn {
    width: 200px;
}

.form {
    width: 40%;
    margin: auto;
}

.viewBtn {
    background: #007bff !important;
    color: #fff !important;
    border: none;
    font-size: 14px;
    margin-top: 20px !important;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

.form-label {
    color: #fff;
}

.error {
    color: red;
}

.landing-box {
    width: 50%;
    margin: auto;
    background: #3498db;
    padding: 50px;
    height: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
}

.landing-sub-heading {
    color: #fff;
}

.btn-primary {
    background: #8e44ad;
    border: none;
    outline: none;
}

.input-box {
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
}

.heading,
.title,
.para {
    color: #fff;

}

.page {
    color: #fff;
    margin: 0 10px;
}

.todo-list {
    margin-top: 10px;
}

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
}

.todos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    height: 100vh;
    /* background: var(--primary); */
}

.loading {
    color: #fff;
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
}

.button {
    width: 200px;
    margin: auto;
}

.logout {
    width: 150px;
    /* margin: auto; */
}

.logout-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing-form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing-image {
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}

.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background: #9b59b6;
}

.card-wrap {
    height: 110px;
}

.form-div {
    width: 100%;
    margin: auto;
}

.select-tag {
    width: 210px;
}

.tabs {
    width: 60%;
    margin: 50px auto;
}

.tab-list {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #f4f4f4;
    user-select: none;
}

.tab:hover {
    background-color: #e0e0e0;
}

.tab.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.tab-content {
    padding: 20px;
    display: none;
    color: #fff;
}

.tab-content.active {
    display: block;
}

/* DynamicTable.css */

.dynamic-table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: var(--text);
}

table th {
    cursor: pointer;
    user-select: none;
}

.sort-icon {
    display: inline-block;
    margin-left: 4px;
}

.sort-icon.asc::after {
    content: '▲';
}

.sort-icon.desc::after {
    content: '▼';
}

.pagination {
    margin-top: 20px;
}

.pagination button {
    background-color: #4caf50;
    color: white;
    border: 1px solid #ddd;
    padding: 8px 12px;
    cursor: pointer;
}

.pagination button.active {
    background-color: #45a049;
}