.multi-step-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.progress-indicator {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.progress-indicator span {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    color: #666;
}

.progress-indicator span.active {
    background-color: #4caf50;
    color: #fff;
}

.progress-indicator span.border {
    border: 2px solid #4caf50; /* Add border style */

}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    /* margin-bottom: 16px; */
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.form-data-display {
    margin-top: 20px;
}

.form-data-display h3 {
    margin-bottom: 10px;
}

.form-data-display pre {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: auto;
}